.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* ボタンとナビゲーションを同じ高さに揃える */
  padding: 10px 20px;
}

.nav {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center; /* ナビゲーションリンクを中央揃え */
  padding: 10px 20px;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 20px; /* リンク間のスペースを設定 */
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0;
}

.navLinks a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
}

.navLinks a:hover {
  text-decoration: underline;
}

.themeToggleButton {
  margin: 20px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 50%; /* ボタンを丸くする */
  width: 60px; /* ボタンのサイズ */
  height: 60px; /* ボタンのサイズ */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: relative;
}
