.footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex; /* フレックスボックスを使用して中央揃えに */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  height: 60px; /* フッターの高さを設定 */
}
