/* ライトモードのデフォルトスタイル */
.App {
  background-color: #fff;
  color: #333;
}

/* ダークモードのスタイル */
.App.dark {
  background-color: #333;
  color: #fff;
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}