:root {
  --text-color-light: #333;
  --text-color-dark: #fff;
}

.theme-light {
  --text-color: var(--text-color-light);
  background-color: #fff;
  color: var(--text-color-light);
}

.theme-dark {
  --text-color: var(--text-color-dark);
  background-color: #333;
  color: var(--text-color-dark);
}

.shared-styles {
  text-align: center;
  padding: 20px;
}
