body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;  /* ビューポートの幅全体 */
  height: 100vh; /* ビューポートの高さ全体 */
  background-color: #fff; /* ライトモードのデフォルト背景色 */
}

body.dark {
  background-color: #333; /* ダークモードの背景色 */
}
